@import "../../../../scss/variables";

.menu-item {
  position: relative;
  color: $color;

  span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -.5rem;
    right: 0;
    width: 1rem;
    height: 1rem;
    background: red;
    border-radius: 50%;
    font-size: .6em;
    color: white;
  }
}
