@import '../../../scss/variables';

.bubble {
  position: relative;
  padding: .5rem 1rem;
  width: auto;
  max-width: 18rem;
  background: $bubble-them-bg;
  border-radius: 5px;
  border: $bubble-border-color solid 2px;
  font-size: 1.1em;
    p {
      white-space: pre-wrap;
    }
    &.me {
      background: $bubble-me-bg;

      &:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 7px 8px 0;
        border-color: $bubble-me-bg transparent;
        display: block;
        width: 0;
        z-index: 1;
        bottom: -7px;
        right: 22px;
      }

      &:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 8px 9px 0;
        border-color: #FFFFFF transparent;
        display: block;
        width: 0;
        z-index: 0;
        bottom: -10px;
        right: 21px;
      }
    }

    &.them {
      background: $bubble-them-bg;

      &:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 7px 8px 0;
        border-color: $bubble-them-bg transparent;
        display: block;
        width: 0;
        z-index: 1;
        bottom: -7px;
        left: 22px;
      }

      &:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 8px 9px 0;
        border-color: #FFFFFF transparent;
        display: block;
        width: 0;
        z-index: 0;
        bottom: -10px;
        left: 21px;
      }
    }
}


