@import '../../scss/helpers';

.messenger {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $messenger-height;

  border-top: 1px solid gray;
}

.message-editor {
  display: flex;
}

.editor-wrapper {
  flex: 1;
  padding: .5rem .3rem;

  height: 4rem;
  background: rgba(255, 255, 255, .3);
  border: solid 1px gray;

  overflow-y: auto;
  cursor: text;
}
