@import '../../scss/helpers';

.chatroom {
  height: calc(100vh - #{$header-height} - #{$messenger-height} );
  overflow-y: auto;
}

.messages-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.message {
  margin-bottom: 2rem;
  &> * {
    display: flex;
    align-items: center;
  }
}

