@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
}

label, button {
  user-select: none;
}

header {
  height: $header-height;
}

input, select, .form-check {
  margin-bottom: .5rem;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
}
small {
  font-size: .7em;
}

.app {
  background: $bg;
  color: $color;
  height: 100vh;

  &.dm {
    background: $inverted-bg;
    color: $inverted-color;

    & .dm {
      &-text {
        color: $inverted-text-color
      }
    }
  }
}
