@import "./variables";


// helpers
.f {
  display: flex;
  &.f-c {
    flex-direction: column;
  }
  &.f-vc {
    align-items: center;
  }
  &.f-vs {
    align-items: flex-start;
  }
  &.f-sb {
    justify-content: space-between;
  }
  &.f-fs {
    justify-content: flex-start;
  }
  &.f-fe {
    justify-content: flex-end;
  }
  &.f-in {
    flex-direction: row-reverse;
  }
  &.f-in-c {
    flex-direction: column-reverse;
  }
}

//align
.al {
  text-align: left;
}

.ar {
  text-align: right;
}

.padding {
  &-l {
    &-05 {
      padding-left: .5rem
    }
    &-1 {
      padding-left: 1rem
    }
    &-2 {
      padding-left: 2rem
    }
    &-3 {
      padding-left: 3rem
    }
  }
  &-r {
    &-05 {
      padding-right: .5rem
    }
    &-1 {
      padding-right: 1rem
    }
    &-2 {
      padding-right: 2rem
    }
    &-3 {
      padding-right: 3rem
    }
  }
  &-t {
    &-05 {
      padding-top: .5rem
    }
    &-1 {
      padding-top: 1rem
    }
    &-2 {
      padding-top: 2rem
    }
    &-3 {
      padding-top: 3rem
    }
  }
  &-b {
    &-05 {
      padding-bottom: .5rem
    }
    &-1 {
      padding-bottom: 1rem
    }
    &-2 {
      padding-bottom: 2rem
    }
    &-3 {
      padding-bottom: 3rem
    }
  }
  &-05 {
    padding: .5rem
  }
  &-1 {
    padding: 1rem
  }
  &-2 {
    padding: 2rem
  }
  &-3 {
    padding: 3rem
  }
}

.margin {
  &-l {
    &-05 {
      margin-left: .5rem
    }
    &-1 {
      margin-left: 1rem
    }
    &-2 {
      margin-left: 2rem
    }
    &-3 {
      margin-left: 3rem
    }
  }
  &-r {
    &-05 {
      margin-right: .5rem
    }
    &-1 {
      margin-right: 1rem
    }
    &-2 {
      margin-right: 2rem
    }
    &-3 {
      margin-right: 3rem
    }
  }
  &-t {
    &-05 {
      margin-top: .5rem
    }
    &-1 {
      margin-top: 1rem
    }
    &-2 {
      margin-top: 2rem
    }
    &-3 {
      margin-top: 3rem
    }
  }
  &-b {
    &-05 {
      margin-bottom: .5rem
    }
    &-1 {
      margin-bottom: 1rem
    }
    &-2 {
      margin-bottom: 2rem
    }
    &-3 {
      margin-bottom: 3rem
    }
  }
  &-05 {
    margin: .5rem
  }
  &-1 {
    margin: 1rem
  }
  &-2 {
    margin: 2rem
  }
  &-3 {
    margin: 3rem
  }
}
