$activeColor: #27ae60;
$darkenColor: darken($activeColor, 20%);
$background: #3498db;

// variables
$header-height: 3.5rem;
$messenger-height: 7rem;

$bg: #f1f1f1;
$color: #808080;
$inverted-bg: #808080;
$inverted-color: #575757;
$text-color: #adadad;
$inverted-text-color: #d3d3d3;

$bubble-me-bg: #f0fde7;
$bubble-them-bg: #DADAFF;
$bubble-border-color: #FFF;
